body {
    padding: 0;
    margin: 0;
}
/*Секция 1*/
header{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
     rgb(70,70,221,1) 0%, rgba(0,212,255,1) 100%);
    padding-top: 60px;
    padding-bottom: 100px;
}
.container{
   width: 1100px;
   margin: 0 auto; 
}
.logo{
    margin-bottom: 20px;
}
.wrapper{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;  
}
.offer{
    width: 700px;
}
.title{
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 10px;
}
.title_span{
    font-size: 48px;
    letter-spacing: 2px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;

}
.offer_text{
    font-size: 16px;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.btn{
    width: 300px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color:rgb(233, 186, 46);
    padding: 15px 0px;

}
.btn:hover{
    background-color: rgb(234, 203, 112);
    box-shadow: 10px 10px 10px grey;
}
.header_img{
    width: 480px;
}
/*Секция 2*/
.main{
    padding-top: 30px;
    padding-bottom: 30px;
}
.main_title{
    font-size: 30px;
    text-align: center;
}
.main_block{
    justify-content: space-between;
    display: flex;
}
.blocks{
    text-align: center;
    width: 25%;
}
.blocks img{
    margin-bottom: 30px;
}
/*3 блок*/
.form{
    background-color: rgb(233, 241, 255);
    padding-top: 10px;
}
.tit{
    margin-top: 70px;
    font-size: 30px;
    text-align: center;
}
.block3{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.form input[type="text"]{
    border:0;
    margin-left:10px;
    margin-top:10px;
}
.but{
    width: 300px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    background-color:rgb(233, 186, 46);
    padding: 15px 0px;
    margin-bottom: 70px;
}
.bl4{
    background-color: #4086cd;
    padding-top: 10px;
    height: 60px;
}
.bl5{
    background-color: rgb(107,178,251);
    padding-top: 10px;
    height: 60px;    
}
.position{
    text-align: center; 
    margin: -22px 40%;
    color: white;
    font-weight: bold;
}



@media screen and (max-width: 1200px) 
{
    .container{
        width: 960px;
    }
    .wrapper{
        flex-direction: column;
    }
    .header_img{
        width: 60%;
        margin-top: 40px;
    }
    .input{
        width:80%;
    }
    .but{
        width:80%;
    }
}
@media screen and (max-width: 992px) 
{
    .container{
        width: 720px;
    }
    .offer{
        width: 100%;
        margin-top: 40px;
    }
}
@media screen and (max-width: 768px) 
{
    .container{
        width: 80%;
    }
    .main_block{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blocks{
        margin-bottom: 40px;
    }
}
