* {
    box-sizing: border-box;
  }
 
  
  body {
    margin: 3rem;
  }
  .btn{
    padding: 5px;
    height: 40px;
    width: 50px;
    background-color: white;
    border: 2px solid rgb(206, 200, 200);
  }

  .card{
    height: 40px;
    width: 55px;
    background-color: rgb(103, 189, 103);
    border: 2px solid rgb(96, 179, 96);
  }
  .choice{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 8px;
    padding-right: 30px;
    font-size: 20px;
    color: grey;
  }
  .container{
    width: 1000px;
    margin: 0 auto;
  }
  .counter{
    display: flex;
    justify-content: space-between;
    width: 75%;
  }

  .main_block{
    display: flex;
    justify-content: space-between;
  }
  
  .main_blocks{
    text-align: left;
    width: 30%;
    border: 2px solid rgb(179, 174, 174);
  }
  
  .main_text{
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
  }
  
  .main_blocks img{
    margin-bottom: 10px;
    width: 100%;
  }
  
  .main_title{
    font-size: 20px;
  }
  
  .p1{
    padding-top: 8px;
  }

  .text_grey{
    color: grey;
    font-size: 15px;
  }
